public/.htaccess
public/images/proPic_users/
public/images/proPic_teams/
config/database.php
node_modules/
vendor/
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.env
.DS_Store
.swp
pushGitMacro.sh