
/**********************************************************

                       COMMON STYLES

for displaying common styles on profile/feed containers
***********************************************************/




.bannerDiv {
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

h2 {
    margin: 10px 5px 10px 5px;
    font-weight: 400;
}

html {
    height: 100%;
}

body {
    

}

select.input-lg {
    height: 53px;
}









/* for displaying errors to the user */
.errorBannerProfile {

	background: #F5C4CC;
	border: 1px solid #C05555;
    text-align: center;
    width: 600px;
    padding: 20px;
    margin: 5px auto;
    position: relative;
    left: 27px;
    font-size: 100%;
    display: none;
}

/* for displaying confirm details such as 'saved' inside a contentDiv */
.confirmBannerProfile {

	background: #FEF1B5;
	border: 1px solid #EEDC82;
    text-align: center;
    width: 600px;
    padding: 20px;
    margin: 5px auto;
    position: relative;
    left: 27px;
    font-size: 100%;
    display: none;
}

/* for displaying fun facts such as 'you can drop weight if you exercise!' */
.infoBannerProfile {
    
    color: #FFF;
    text-align: center;
    width: 598px;
	background: #7BB0E3;
	border: 1px solid #589EE0; 
	padding: 20px; 
	margin: 5px auto;
    position: relative;
    left: 27px;
	font-size: 100%;
    font-weight: 300;
}




/********************* NEW CSS FROM BOOTSTRAP *************************/



/* CSS for register page */

#registerSignIn {
    color: #FFF;
}



.form-signin-heading {
    margin-bottom: 20px;
}




#reg_birthday {
    text-align: center;
}

.modalTitle {
    text-align: center;
}

.close {
    position: relative;
    right: 8px;
}



.form-errors {
    color: #C90018;
}


.btn-cancel {
    background: #BDBBBB;
    border: 1px solid #BDBBBB;
    color: white;
}
    .btn-cancel:hover, .btn-cancel:active,
    .btn-cancel:active:focus, .btn-cancel:focus {
        color: white;
        background: #969696;
        border: 1px solid #969696;
    }

.btn-delete {
    background: #C90018;
    border: 1px solid #C90018;
    color: white;
}
    .btn-delete:hover, .btn-delete:active,
    .btn-delete:active:focus, .btn-delete:focus {
        color: white;
        background: #FC001E;
        border: 1px solid #FC001E;
    }

.btn-primary {
    background: #1179C9;
    border-color: #1179C9;
    text-shadow: none;
    box-shadow: none;
}
    .btn-primary:hover, .btn-primary:active,
    .btn-primary:active:focus, .btn-primary:focus {
        color: white;
        background: #38A9F9;
        border: 1px solid #38A9F9;
    }


/* for spinning the searchIcon */

.rotatedRight {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.glyphicon.right-spinner {
    -webkit-animation: glyphicon-spin-r 0.075s  linear;
    animation: glyphicon-spin-r 0.075s  linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.glyphicon.left-spinner {
    -webkit-animation: glyphicon-spin-l .075s  linear;
    animation: glyphicon-spin-l .075s  linear;
}

@-webkit-keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
/* end spinning */



.proPic {
    display: block;
    margin: auto;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #fff;
    color: #000;

}

#dropdownList.dropdown.open ul.dropdown-menu li a:hover {
    background: #fff;
    text-shadow: 0 0 0 #000;
}




/* for spinning the caret when dropping down nav menu */


/* end spinning */

#profileDiv {

}

#jerseyNumber {
    color: #C90018;
    font-weight: normal;
}

#numberDivider {
    color: #BFC7C9;
    font-weight: normal;
}


#name {
    text-align: center;
    font-weight: 300;
    margin: 0;
}

#editProfileIcon {
    position: relative;
    float: right;
    left: -2px;
    top: 12px;
    font-size: 1.2em;
}
#becomeFanIcon, #isFanIcon {
    position: relative;
    float: right;
    left: -2px;
}
#iconTip {
    position: relative;
    float: right;
}

#editTeamIcon {
    position: relative;
    float: right;
    left: -2px;
    top: 7px;
    font-size: 1.2em;
}




.userAboutTableDiv {
    display: table;
    margin: 0 auto;
    margin-top: 50px;
}
.userAboutTableUl {
    list-style: none;
    padding: 0;
    width: 100%;
}
    .userAboutTableUl li {
        display: inline;
        text-align: center;
        position: relative;
        padding: 10px 25px 10px 25px;
        float: left;
        width: 50%;
    }



.linkNoLink {
    color: #000;
}
    .linkNoLink:hover {
        color: #38A9F9;
        cursor: pointer;
    }
.link {
    color: #1179C9;
}
    .link:hover {
        color: #38A9F9;
        cursor: pointer;
    }




.about-tab-active {
    font-weight: 300;
    color: #000;
}
    .about-tab-active:hover {
        color: #000;
        cursor: default;
    }
.about-tab-inactive {
    color: #1179C9;
    font-weight: 300;
}
    .about-tab-inactive:hover {
        color: #38A9F9;
        cursor: pointer;
    }

.statsTabActive {
    font-weight: 500;
    color: #000;
}
    .statsTabActive:hover {
        color: #000;
        cursor: default;
    }
.statsTabInactive {
    color: #1179C9;
    font-weight: 300;
}
    .statsTabInactive:hover {
        color: #38A9F9;
        cursor: pointer;
    }

#statsTab {
    color: #1179C9;
    font-weight: 300;
}
    #statsTab:hover {
        color: #38A9F9;
        cursor: pointer;
    }





.aboutUserTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 150%;
}

    .aboutUserTable tr td {
        width: 25%;
        text-align: center;
        font-weight: 500;
        border-left: 2px solid #EDEDED;
        border-right: 2px solid #EDEDED;
        border-top: none;
        border-bottom: none;
    }

    #fans {
        display: block;
        height: 100%;
        width: 100%;
    }

    .aboutUserTableData{
        font-weight: 300;
    }

    .table-responsive {
        border-top: none;
        border-bottom: none;
    }

    td.aboutUserLabel a:hover {
        cursor: pointer;
    }

.aboutDivActive {
    margin-top: 20px;
}

.hidden {
    display: none;
}



.modal-open .modal {
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-y: scroll;
}


.fansModal {
    display: table;
    margin: 0 auto;
    min-height: 70px;
}
    .fansModal ul {
        list-style: none;
        padding: 0;
        width: 100%;
    }

        .fansModal ul li {
            display: inline;
            text-align: center;
            float: left;
            width: 100%;
        }




#honorsDiv {
    margin-bottom: 5px;
    font-weight: bold;
}
    #honorsDiv #charsRemaining {
        float: right;

    }



.removeIcon {
    position: relative;
    left: 10px;
    top: 38px;
    color: #C90018;
    font-size: 1.8em;
}

    .removeIcon:hover {
        color: #FC001E;
        cursor: pointer;
    }

.searchResults, .searchResults li {
    border: none;
    box-shadow: none;
}

#rankedStatsDiv {
    margin-top: 0;
}


.statsTabsDiv {
    display: table;
}
.statsDivInactive {
    display: none;
}
    .teamTableUl {
        list-style: none;
        padding: 0;
        width: 100%;
    }
    .statsTableUl {
        list-style: none;
        padding: 0;
        width: 100%;
    }
        .teamTableUl li {
            display: inline;
            position: relative;
            text-align: center;
            padding: 10px 15px 10px 15px;
            float: left;
            width: 33%;
        }
        .teamTableUl li a {
            position: relative;
            margin: auto;
        }
        .statsTableUl li {
            display: inline;
            position: relative;
            text-align: center;
            padding: 10px 15px 10px 15px;
            float: left;
            width: 50%;
        }
        #recentTab {
            float: right;
        }
        #seasonTab {
            float: left;
        }
        .teamTableUl li a img {
            margin-right: 4px;
            margin-bottom: 3px;
        }
        #calendarIcon {
            margin-right: 3px;
            margin-bottom: 5px;
        }


.well.teamWell {
    background: #fff;
    margin-bottom: 16px;
    border: none;
    box-shadow: 1px 1px 1px 1px #EDEBEB;
}


#calNavHeader {
    margin: 0;
    width: 183px;
    text-align: center;
}
#calNavHeaderTable {
    padding-left: 10px;
    padding-right: 10px;
}


#chevLeft:hover, #chevRight:hover {
    cursor: pointer;
}


#addEventIcon {
    margin: 0 auto;
}
#addEventText {
    position: relative;
    font-weight: 300;
    left: 3px;
}
#addEventIconDiv {
    margin-top: 4px;
}
#addEventRepeats {
    font-weight: 400;
}



.select2-container--default .select2-selection--multiple .select2-selection__choice li {
    margin-top: 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear span {
    margin-top: 15px;
}

.modal, .modal-body {
    max-height: none;
    padding: 0;
}

#reg_termsAndConditions {
    font-size: 0.9em;
}


.gameClass {
    color: #C90018 !important;
}
.practiceClass {
    color: #1179C9 !important;
}
.otherClass {
    color: #18C900 !important;
}

.btn-select {
    background: #fff;
    border: 1px solid #ccc;
}


.dropdown-menu>li>a {
    outline: none;
}

li.selected {
    background: #fff;
}




/* STATS TABLE CSS */






.statusDate {
    color: #969696;
    font-size: 100%;
    margin-bottom: 0;
}

.statusHR {
    margin-top: 10px;
    margin-bottom: 20px;
}

#feedFirstHR{
    display: block;
}


.notifyUser {
    border: 1px solid #C90018 !important;
}

.event0 {
    color: #1179C9 !important;
}
.event1 {
    color: #C90018 !important;
}
.event2 {
    color: #18C900 !important;
}

#feedDetails {
    text-align: center;
    font-weight: 500;
    font-size: 130%;
}

.feedIcon {
    font-size: 1.4em;
    margin-right: 40px;
    margin-bottom: 4px;
    float: right;
}










/* set modal widths depending on which sport */
.modal-dialog.basketball {
    width: 90%;
}

.modal-dialog.football {
    width: 25%;
}