[v-cloak] {
  display: none;
}
body,
html {
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.35px;
}
p {
  font-size: inherit;
  margin-bottom: 0;
  font-weight: inherit;
}
.material-icons:hover {
  cursor: default;
}
.bootstrap-switch span.bootstrap-switch-handle-on.bootstrap-switch-primary {
  background: #1179c9;
}
.bootstrap-switch span.bootstrap-switch-handle-off.bootstrap-switch-default {
  background: #f5f5f5;
}
.switch-container {
  margin-bottom: 20px;
  vertical-align: middle;
}
.switch-label {
  margin: 0px 30px 0px 10px;
  font-weight: bold;
}
hr {
  border-color: #d0d0d0;
}
body {
  background: #f5f5f5;
}
a,
a:visited,
a:link {
  text-decoration: none;
  color: #1179c9;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #38a9f9;
}
.nav-tabs {
  margin-top: 35px;
}
.nav-tabs li {
  position: relative;
}
.nav-tabs li.active a {
  background-color: #f5f5f5;
  border-radius: 12px 12px 0 0;
}
.nav-tabs li.active a:hover {
  background-color: #f5f5f5;
}
.nav-tabs li a {
  margin-left: 8px;
  padding: 20px 40px;
}
@media screen and (max-width: 767px) {
  .nav-tabs li a {
    padding: 20px 30px;
  }
}
span.input-info {
  font-size: 13px;
  color: #9f9f9f;
}
.Tab {
  position: relative;
  padding: 0px 10px 10px 10px;
  font-size: 15px;
  margin: 15px;
}
@media screen and (max-width: 767px) {
  .Tab {
    margin: 15px;
  }
}
.Tab .material-icons {
  bottom: 30px;
}
.Tab__list {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
.Tab--active {
  color: #666;
  border-bottom: 4px solid #d3d3d3;
}
.Tab--active:hover {
  color: #666;
  cursor: default;
}
.Tab--inactive {
  color: #1179c9;
}
.Tab--inactive:hover {
  color: #38a9f9;
  cursor: pointer;
}
.Tab__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 2px;
}
.Media {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.Media__thumbnail {
  border-radius: 50%;
}
.Media__thumbnail:hover {
  cursor: pointer;
}
.Media__thumbnail:hover.--ghost {
  cursor: default;
}
.Media__text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.Media__title {
  margin-left: 10px;
  font-size: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
}
.Media__title p {
  margin-bottom: 0;
}
.Media__number {
  color: #c90018;
}
.Media__divider {
  color: #ababab;
  margin: 0px 6px;
}
.Media__details {
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  position: relative;
}
.Media__details .material-icons {
  margin: 13px 0px 0px 8px;
  font-size: 20px;
}
.Media__details .positions {
  margin: 12px 0px 0px 8px;
  font-size: 16px;
  color: #9f9f9f;
}
.Media__edit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
  margin-bottom: 55px;
}
.Media__edit div {
  -ms-flex: 1;
  flex: 1;
}
.Media__edit .btn {
  margin: 22px 0px 0px 15px;
  max-height: 52px;
}
.TabButton {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
  font-size: 20px;
  color: #fff;
  margin-bottom: 45px;
  margin-top: 25px;
}
.TabButton div {
  background: #329acf;
  padding: 4px 18px;
}
.TabButton div:hover {
  cursor: pointer;
}
.TabButton div.active {
  background: #c90018;
  border: 0;
}
.TabButton div.active:hover {
  cursor: default;
}
.TabButton .first {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.TabButton .second {
  border-left: 1px solid #277ca7;
}
.TabButton .first.active + .second {
  border-left: 1px solid #329acf;
}
.TabButton .third {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 1px solid #277ca7;
}
.TabButton .second.active + .third {
  border-left: 1px solid #329acf;
}
.TabButton.--just-two .second {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.TabButton.--black-gray div {
  background: #d0d0d0;
}
.TabButton.--black-gray div.active {
  background: #000;
}
.TabButton.--black-gray .second {
  border-left: 1px solid #a6a6a6;
}
.TabButton.--black-gray .first.active + .second {
  border-left: 1px solid #d0d0d0;
}
.TabButton.--black-gray .third {
  border-left: 1px solid #a6a6a6;
}
.TabButton.--black-gray .second.active + .third {
  border-left: 1px solid #d0d0d0;
}
.TabButton.--small {
  font-size: 17px;
}
.TabButton.--small div {
  padding: 2px 12px;
}
.for-blurring {
  margin-top: 53px;
}
.modal-backdrop {
  background: none;
}
.modal-content {
  border: none;
  border-radius: 0;
  top: 35px;
}
@media screen and (max-width: 767px) {
  .modal-content {
    max-width: 90%;
    margin: auto;
  }
}
.modal-dialog {
  margin: 50px auto;
}
.modal-header {
  color: #fff;
  margin-bottom: 0.5em;
  background: #404040;
}
.modal-header .close {
  color: #fff;
  font-size: 32px;
  margin-top: 1px;
  text-shadow: none;
}
.modal-body {
  padding: 15px;
}
div.modal {
  -animation-duration: 0.15s;
}
.pace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #38a9f9;
  position: fixed;
  z-index: 2000;
  top: 52px;
  right: 100%;
  width: 100%;
  height: 3px;
}
.divider .divider-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 775px;
  transform: translate(-50%, -50%);
}
.divider .divider-text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  z-index: -1;
  background: #d0d0d0;
}
.divider .divider-text span {
  font-size: 17px;
  color: #9f9f9f;
  background: #f5f5f5;
  padding: 0px 3em;
}
.divider .divider-text span.--twotone {
  background: #f5f5f5;
}
.Footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 4em;
  background: #f5f5f5;
}
.Footer.--light {
  background: #f5f5f5;
}
.Footer p {
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  font-size: 11px;
}
.input-group-addon {
  background: #f5f5f5;
  border: none;
  border-left: 3px solid #fff !important;
}
.input-group-addon span {
  color: #1179c9;
}
textarea {
  box-sizing: border-box;
  min-height: 31px;
  resize: none;
}
.btn {
  padding: 14px 24px;
  border: 0;
  letter-spacing: 1px;
  margin-top: 8px;
  margin-left: 15px;
}
.btn.btn-first {
  margin-left: 0;
}
.btn:hover,
.btn:active,
.btn:active:focus,
.btn:focus {
  background-image: none;
}
.btn.--chevron {
  position: relative;
}
.btn.--chevron.--sm.--right {
  min-width: 100px;
  padding-left: 6px;
}
.btn.--chevron.--med.--right {
  min-width: 125px;
  padding-left: 10px;
}
.btn.--chevron.--lg.--right {
  min-width: 175px;
  padding-left: 10px;
}
.btn.--chevron.--sm.--left {
  min-width: 100px;
  padding-right: 6px;
}
.btn.--chevron.--med.--left {
  min-width: 125px;
  padding-right: 10px;
}
.btn.--chevron.--lg.--left {
  min-width: 175px;
  padding-right: 10px;
}
.btn-chevron {
  position: absolute;
  top: 6px;
  font-size: 30px;
}
.btn-chevron.--right {
  right: 0px;
}
.btn-chevron.--left {
  left: 4px;
}
.btn-chevron.outline.btn-success {
  background: none;
  padding: 12px 22px;
  border: 2px solid #21c230;
  color: #21c230;
}
.btn-chevron.outline.btn-success:hover,
.btn-chevron.outline.btn-success:active,
.btn-chevron.outline.btn-success:active:focus,
.btn-chevron.outline.btn-success:focus {
  background: none;
  border: 2px solid #1dda17;
  color: #1dda17;
}
.btn-chevron.outline.btn-primary {
  background: none;
  padding: 12px 22px;
  border: 2px solid #1179c9;
  color: #1179c9;
}
.btn-chevron.outline.btn-primary:hover,
.btn-chevron.outline.btn-primary:active,
.btn-chevron.outline.btn-primary:active:focus,
.btn-chevron.outline.btn-primary:focus {
  background: none;
  border: 2px solid #38a9f9;
  color: #38a9f9;
}
.btn-chevron.outline.btn-delete {
  background: none;
  padding: 12px 22px;
  border: 2px solid #c90018;
  color: #c90018;
}
.btn-chevron.outline.btn-delete:hover,
.btn-chevron.outline.btn-delete:active,
.btn-chevron.outline.btn-delete:active:focus,
.btn-chevron.outline.btn-delete:focus {
  background: none;
  border: 2px solid #fc001e;
  color: #fc001e;
}
.btn-chevron.outline.btn-cancel {
  background: none;
  padding: 12px 22px;
  border: 2px solid #9f9f9f;
  color: #9f9f9f;
}
.btn-chevron.outline.btn-cancel:hover,
.btn-chevron.outline.btn-cancel:active,
.btn-chevron.outline.btn-cancel:active:focus,
.btn-chevron.outline.btn-cancel:focus {
  background: none;
  border: 2px solid #7b7b7b;
  color: #7b7b7b;
}
.btn-cancel {
  background: #9f9f9f;
  padding: 12px 22px;
  color: #fff;
}
.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel:active:focus,
.btn-cancel:focus {
  color: #fff;
  background: #7b7b7b;
}
.btn-delete {
  background: #c90018;
  padding: 12px 22px;
  color: #fff;
}
.btn-delete:hover,
.btn-delete:active,
.btn-delete:active:focus,
.btn-delete:focus {
  color: #fff;
  background: #fc001e;
}
.btn-primary {
  background: #1179c9;
  padding: 12px 22px;
  text-shadow: none;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:focus {
  color: #fff;
  background: #38a9f9;
}
.btn-success {
  background: #21c230;
  text-shadow: none;
  padding: 12px 22px;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:active,
.btn-success:active:focus,
.btn-success:focus {
  color: #fff;
  background: #1dda17;
}
.btn-default {
  background-image: none;
  background-color: #f5f5f5;
  margin-top: 0;
}
.btn-counter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
  margin-top: 0px;
  border-radius: 4px;
}
.btn-counter .btn-text {
  border: 1px solid #dcdcdc;
  position: relative;
  background-color: #dcdcdc;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 5px 10px;
}
.btn-counter .btn-text:hover {
  cursor: pointer;
}
.btn-counter .btn-text.--not-a-button:hover {
  cursor: default;
}
.btn-counter .btn-text.--icon .material-icons {
  font-size: 15px;
  position: absolute;
  top: 7px;
}
.btn-counter .btn-text.--icon span {
  padding-left: 20px;
}
.btn-counter .btn-text.--green {
  color: #fff;
  border-color: #21c230;
  background-color: #21c230;
}
.btn-counter .btn-text.--blue {
  color: #fff;
  border-color: #1179c9;
  background-color: #1179c9;
}
.btn-counter .btn-text.--red {
  color: #fff;
  border-color: #c90018;
  background-color: #c90018;
}
.btn-counter .btn-count {
  -ms-flex: 1;
  flex: 1;
  padding: 4px 8px;
  font-size: 16px;
  background-color: #fff;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: 1px solid #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.form-control {
  position: relative;
  font-size: 18px;
  height: 52px;
  padding: 15px;
  background: #f5f5f5;
  border: none;
  box-shadow: none;
}
.form-control.form-error {
  border: 1px solid #f00;
}
.form-control.--white {
  background: #fff;
}
span.form-error {
  color: #c90018;
}
div.bootstrap-select.form-control {
  margin-top: 0;
}
div.bootstrap-select.form-control .btn {
  letter-spacing: 0px;
  padding-left: 15px;
}
div.bootstrap-select.form-control .dropdown-toggle:focus {
  outline: 0 !important;
  -webkit-appearance: none !important;
}
div.bootstrap-select.form-control li a {
  outline: 0 !important;
  -webkit-appearance: none !important;
}
div.bootstrap-select.form-control li a:focus,
div.bootstrap-select.form-control li a:active {
  background-image: none;
}
div.bootstrap-select.form-control .dropdown-menu li a:focus {
  background-color: #fff;
  background-image: none;
}
div.form-error .bootstrap-select button {
  border: 1px solid #f00;
}
label {
  margin-bottom: 5px;
  margin-left: 1px;
}
@media only screen and (max-width: 767px) {
  label {
    margin-top: 10px;
  }
}
button.btn.btn-select {
  background: #f5f5f5;
  margin: 0;
}
.bootstrap-datetimepicker-widget table td.active {
  background-color: #1179c9;
}
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #38a9f9;
}
.no-highlight {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
input[type='checkbox']:focus {
  outline: 0;
}
textarea:focus,
input[type="text"]:focus,
border-color rc_lite_gray {
  outline: 0;
  box-shadow: inset 0 1px 1px #d0d0d0, 0 0 8px #d0d0d0;
}
.arrow-left {
  height: 0;
  width: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid #f5f5f5;
}
.arrow-right {
  height: 0;
  width: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid #f5f5f5;
}
.arrow-right.--white {
  border-left: 10px solid #fff;
}
.modal-blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.modal-unblur {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  transition: -webkit-filter 0.2s ease-out, filter 0.2s ease-out;
}
.fade-fast-enter {
  visibility: hidden;
  animation: fade-enter 0.1s ease-in;
  animation-delay: 0.1s;
}
.fade-fast-leave {
  animation: fade-leave 0.1s ease-out;
}
.fade-md-enter {
  visibility: hidden;
  animation: fade-enter 0.15s ease-in;
  animation-delay: 0.15s;
}
.fade-md-leave {
  animation: fade-leave 0.15s ease-out;
}
.fade-slow-enter {
  visibility: hidden;
  animation: fade-enter 0.2s ease-in;
  animation-delay: 0.2s;
}
.fade-slow-leave {
  animation: fade-leave 0.2s ease-out;
}
.slide-sm-enter {
  animation: slide-sm-enter 0.3s ease-in;
}
@media only screen and (max-width: 767px) {
  .slide-sm-enter {
    animation: slide-sm-phone-enter 0.3s ease-in;
  }
}
.slide-sm-leave {
  animation: slide-sm-leave 0.3s ease-out;
}
@media only screen and (max-width: 767px) {
  .slide-sm-leave {
    animation: slide-sm-phone-leave 0.3s ease-in;
  }
}
.slide-md-enter {
  animation: slide-md-enter 0.3s ease-in;
}
@media only screen and (max-width: 767px) {
  .slide-md-enter {
    animation: slide-md-phone-enter 0.3s ease-in;
  }
}
.slide-md-leave {
  animation: slide-md-leave 0.3s ease-out;
}
@media only screen and (max-width: 767px) {
  .slide-md-leave {
    animation: slide-md-phone-leave 0.3s ease-in;
  }
}
.slide-lg-enter {
  animation: slide-lg-enter 0.3s ease-in;
}
@media only screen and (max-width: 767px) {
  .slide-lg-enter {
    animation: slide-lg-phone-enter 0.3s ease-in;
  }
}
.slide-lg-leave {
  animation: slide-lg-leave 0.3s ease-out;
}
@media only screen and (max-width: 767px) {
  .slide-lg-leave {
    animation: slide-lg-phone-leave 0.3s ease-in;
  }
}
.gray-out-transition {
  transition: color 0.3s ease;
}
.gray-out-enter,
.gray-out-leave {
  color: #d0d0d0;
}
.rotated-right {
  transform: rotate(90deg);
}
.glyphicon.right-spinner {
  animation: glyphicon-spin-r 0.075s linear;
}
transform rotate(0deg),
100% {
  transform: rotate(90deg);
}
.glyphicon.left-spinner {
  animation: glyphicon-spin-l 0.075s linear;
}
transform rotate(90deg),
100% {
  transform: rotate(0deg);
}
.upside-down {
  transform: rotate(180deg);
}
.caret.right-spinner {
  animation: caret-spin-r 0.15s linear;
}
.caret.left-spinner {
  animation: caret-spin-l 0.15s linear;
}
.loading-spinner {
  width: 75px;
}
.loading-spinner span {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  border-radius: 50%;
  display: inline-block;
  animation: loading-spinner 400ms infinite ease-in-out alternate;
}
.loading-spinner span.first {
  animation-delay: 50ms;
}
.loading-spinner span.second {
  animation-delay: 150ms;
}
.loading-spinner span.third {
  animation-delay: 250ms;
}
.loading-spinner span.fourth {
  animation-delay: 350ms;
}
@keyframes fade-enter {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-sm-enter {
  0% {
    opacity: 0.2;
    overflow: hidden;
    max-height: 0;
    margin: 0;
  }
  100% {
    opacity: 1;
    max-height: 100px;
  }
}
@keyframes slide-sm-leave {
  0% {
    opacity: 1;
    max-height: 100px;
  }
  100% {
    opacity: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
  }
}
@keyframes slide-sm-phone-enter {
  0% {
    opacity: 0.2;
    overflow: hidden;
    max-height: 0;
    margin: 0;
  }
  100% {
    opacity: 1;
    max-height: 175px;
  }
}
@keyframes slide-sm-phone-leave {
  0% {
    opacity: 1;
    max-height: 175px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    margin: 0;
    overflow: hidden;
  }
}
@keyframes slide-md-enter {
  0% {
    opacity: 0.2;
    overflow: hidden;
    margin: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 150px;
  }
}
@keyframes slide-md-leave {
  0% {
    opacity: 1;
    max-height: 150px;
  }
  100% {
    opacity: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
  }
}
@keyframes slide-md-phone-enter {
  0% {
    opacity: 0.2;
    overflow: hidden;
    margin: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 300px;
  }
}
@keyframes slide-md-phone-leave {
  0% {
    opacity: 1;
    max-height: 300px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    margin: 0;
    overflow: hidden;
  }
}
@keyframes slide-lg-enter {
  0% {
    opacity: 0.2;
    overflow: hidden;
    max-height: 0;
    margin: 0;
  }
  100% {
    opacity: 1;
    max-height: 700px;
  }
}
@keyframes slide-lg-leave {
  0% {
    opacity: 1;
    max-height: 700px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    margin: 0;
    overflow: hidden;
  }
}
@keyframes slide-lg-phone-enter {
  0% {
    opacity: 0.2;
    overflow: hidden;
    margin: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 600px;
  }
}
@keyframes slide-lg-phone-leave {
  0% {
    opacity: 1;
    max-height: 600px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    margin: 0;
    overflow: hidden;
  }
}
@keyframes caret-spin-r {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes caret-spin-l {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes loading-spinner {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=stylus.css.map */
