///////////////////////////////////////////
//  GLOBAL CSS
///////////////////////////////////////////

//define some common variables
@import './variables.styl'


//mixins
has(name)
	&__{name}
		{block}
variant(name)
	&--{name}
		{block}
		

[v-cloak] 
	display none	
	

body
html
	height 100%
	font-family 'Fira Sans', sans-serif
	font-weight 400
	letter-spacing 0.35px
	
p
	font-size inherit
	font-weight inherit
	
.material-icons:hover
	cursor default
	
.bootstrap-switch
	span.bootstrap-switch-handle-on.bootstrap-switch-primary
		background link_blue
	span.bootstrap-switch-handle-off.bootstrap-switch-default
		background rc_background	
		
.switch-container
	margin-bottom 20px
	vertical-align middle
.switch-label
	margin 0px 30px 0px 10px	
	font-weight bold		

hr
	border-color darken(whitesmoke, 15%)

body
	background rc_background
		



a	
a:visited		
a:link
	text-decoration none
	color link_blue
a:hover
	text-decoration none
	cursor pointer
	color link_blue_hover
	

.nav-tabs
	margin-top 35px
	li 
		position relative
		&.active
			a
				background-color whitesmoke
				border-radius 12px 12px 0 0 
				&:hover
					background-color whitesmoke
		a
			margin-left 8px		
			padding 20px 40px
			@media screen and (max-width xs_max_width)
				padding 20px 30px
				
span.input-info
	font-size 13px
	color rc_med_gray				
				

.Tab
	position relative	
	padding 0px 10px 10px 10px
	font-size 15px
	margin 15px
	@media screen and (max-width xs_max_width)
		margin 15px
	.material-icons
		bottom 30px	
		
	+has(list)
		display flex
		list-style none
		padding 0
	
	+variant(active)
		color lighten(black, 40%)
		border-bottom 4px solid lighten(gray, 65%)
		&:hover
			color lighten(black, 40%)
			cursor default

	+variant(inactive)
		color link_blue
		&:hover
			color link_blue_hover
			cursor pointer
			
.Tab__container
	display flex
	justify-content center
	font-weight 200
	margin-top 50px
	margin-bottom 2px
		

.Media
	display flex
	margin-bottom 40px
	
	+has(thumbnail)
		border-radius 50%
		&:hover
			cursor pointer
		&:hover.--ghost
			cursor default	
		
	+has(text)
		display flex
		flex-flow column	
		justify-content flex-start
		
	+has(title)
		margin-left 10px
		font-size 16px
		display flex
		flex-flow row
		p
			margin-bottom 0

	+has(number)
		color rc_red

	+has(divider)
		color darken(whitesmoke, 30%)
		margin 0px 6px

	+has(details)
		display flex
		text-align left
		position relative
		.material-icons
			margin 13px 0px 0px 8px	
			font-size 20px
		.positions
			margin 12px 0px 0px 8px		
			font-size 16px
			color rc_med_gray
					
	+has(edit)
		display flex
		flex-flow row
		margin-bottom 55px
		div
			flex 1
		.btn
			margin 22px 0px 0px 15px
			max-height 52px
			
.TabButton
	display flex
	flex-flow row
	font-size 20px
	color white
	margin-bottom 45px
	margin-top 25px
	div
		background rc_blue
		padding 4px 11px
		&:hover
			cursor pointer
		&.active
			background rc_red
			border 0
			&:hover
				cursor default
	.first
		border-top-left-radius 3px				
		border-bottom-left-radius 3px
	.second
		border-left 1px solid darken(rc_blue, 20%)
		^[0] .first.active + .second // when first is active, don't show left border on second
			border-left 1px solid rc_blue
	.third
		border-top-right-radius 3px				
		border-bottom-right-radius 3px
		border-left 1px solid darken(rc_blue, 20%)
		^[0] .second.active + .third // when second is active, don't show left border on third
			border-left 1px solid rc_blue
	&.--just-two
		.second
			border-top-right-radius 3px				
			border-bottom-right-radius 3px
	&.--black-gray
		div
			background rc_lite_gray
			&.active
				background black
		.second
			border-left 1px solid darken(rc_lite_gray, 20%)
			^[1] .first.active + .second // when first is active, don't show left border on second
				border-left 1px solid rc_lite_gray
		.third
			border-left 1px solid darken(rc_lite_gray, 20%)
			^[1] .second.active + .third // when second is active, don't show left border on third
				border-left 1px solid rc_lite_gray
	&.--small
		font-size 17px
		div
			padding 2px 10px
		
					
		
.for-blurring	
	margin-top 53px

.modal-backdrop
	background none

.modal-content
	border none
	border-radius 0
	top 35px
	@media screen and (max-width 767px)
		max-width 90%
		margin auto
.modal-dialog
	margin 10px auto
	
.modal-header
	color white
	margin-bottom 0.5em
	background rc_modal_black
	.close
		color white
		margin-top 3px
	
.modal-body
	padding 15px

div.modal
	-animation-duration 0.15s		
	

.pace
	pointer-events none
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	
.pace-inactive
	display none
	
.pace .pace-progress
	background link_blue_hover
	position fixed
	z-index 2000
	top 52px
	right 100%
	width 100%
	height 3px
	

//for getting a separator like
//   ------   NEWS FEED   --------
.divider
	.divider-text
		text-align center
		position absolute
		top 50%
		left 50%
		width 100%
		max-width 775px
		transform translate(-50%, -50%)
		&:before
			content ""
			position absolute
			width 100%
			height 1px
			top 50%
			left 0
			z-index -1
			background rc_lite_gray
		span
			font-size 17px
			color rc_med_gray
			background rc_background
			padding 0px 3em 
		span.--twotone
			background rc_two_tone	
			
.Footer
	display flex
	flex-flow row
	justify-content center
	align-items center
	padding-top 4em
	background rc_two_tone
	&.--light
		background rc_background
	p
		flex 1
		text-align center	
		font-size 11px
	

.input-group-addon
	background whitesmoke
	border none
	border-left 3px solid white !important
	span
		color link_blue	

// for auto-expanding textareas
textarea
	box-sizing border-box
	min-height 31px
	resize none	
		

//styles for buttons with outlines
.btn
	padding 14px 24px
	border 0
	letter-spacing 1px
	margin-top 8px
	margin-left 15px
	&.btn-first
		margin-left 0
	&:hover, &:active, &:active:focus, &:focus
		background-image none
	&.--chevron
		position relative
		&.--sm.--right
			min-width 100px
			padding-left 6px			
		&.--med.--right
			min-width 125px
			padding-left 14px
		&.--lg.--right
			min-width 175px
			padding-left 14px
		&.--sm.--left
			min-width 100px
			padding-right 6px			
		&.--med.--left
			min-width 125px
			padding-right 14px
		&.--lg.--left
			min-width 175px
			padding-right 14px	

.btn-chevron
	position absolute
	top 7px
	font-size 30px	
	&.--right	
		right 0px
	&.--left
		left 4px			
			

	&.outline.btn-success
		background none
		padding 12px 22px
		border 2px solid rc_bright_green
		color rc_bright_green
		&:hover, &:active, &:active:focus, &:focus
			background none
			border 2px solid rc_bright_green_hover
			color rc_bright_green_hover

	&.outline.btn-primary
		background none
		padding 12px 22px
		border 2px solid link_blue
		color link_blue
		&:hover, &:active, &:active:focus, &:focus
			background none
			border 2px solid link_blue_hover
			color link_blue_hover

	&.outline.btn-delete
		background none
		padding 12px 22px
		border 2px solid rc_red
		color rc_red
		&:hover, &:active, &:active:focus, &:focus
			background none
			border 2px solid rc_red_hover
			color rc_red_hover		

	&.outline.btn-cancel
		background none
		padding 12px 22px
		border 2px solid rc_med_gray
		color rc_med_gray
		&:hover, &:active, &:active:focus, &:focus
			background none
			border 2px solid rc_dark_gray
			color rc_dark_gray			

.btn-cancel
	background rc_med_gray
	padding 12px 22px
	color white
	&:hover, &:active, &:active:focus, &:focus 
		color white
		background rc_dark_gray

.btn-delete
	background rc_red
	padding 12px 22px
	color white
	&:hover, &:active, &:active:focus, &:focus 
		color white
		background rc_red_hover

.btn-primary
	background link_blue
	padding 12px 22px
	text-shadow none
	box-shadow none
	&:hover, &:active, &:active:focus, &:focus
		color white
		background link_blue_hover

.btn-success
	background rc_bright_green
	text-shadow none
	padding 12px 22px
	box-shadow none
	&:hover, &:active, &:active:focus, &:focus
		color white
		background rc_bright_green_hover
					

.btn-default //for selectpickers
	background-image none
	background-color whitesmoke
	margin-top 0
	
.btn-counter
	display flex
	flex-flow row
	margin-top 0px
	border-radius 4px
	.btn-text
		border 1px solid #dcdcdc
		position relative
		background-color #dcdcdc
		color black
		user-select none
		border-bottom-left-radius 3px
		border-top-left-radius 3px
		align-self flex-start	
		padding 5px 10px
		&:hover
			cursor pointer
		&.--not-a-button:hover
			cursor default
		&.--icon
			.material-icons
				font-size 15px
				position absolute
				top 7px
			span
				padding-left 20px
		&.--green
			color white
			border-color rc_bright_green
			background-color rc_bright_green
		&.--blue
			color white
			border-color link_blue
			background-color link_blue
		&.--red
			color white
			border-color rc_red
			background-color rc_red
	.btn-count
		flex 1
		padding 4px 8px
		font-size 16px
		background-color white
		align-self flex-end
		border 1px solid white
		border-top-right-radius 3px
		border-bottom-right-radius 3px
	





.form-control
	position relative
	font-size 18px
	height 52px
	padding 15px
	background whitesmoke
	border none
	box-shadow none
	&.form-error
		border 1px solid red
	&.--white
		background white
	
span.form-error
	color rc_red	

//bootstrap select styling
div.bootstrap-select.form-control
	margin-top 0
	.btn
		letter-spacing 0px
		padding-left 15px
	.dropdown-toggle:focus
		outline 0 !important
		-webkit-appearance none !important
	li
		a
			outline 0 !important
			-webkit-appearance none !important
			&:focus, &:active
				background-image none
	.dropdown-menu
		li
			a:focus
				background-color white
				background-image none

div.form-error
	.bootstrap-select		
		button
			border 1px solid red		
				


label
	margin-bottom 5px
	margin-left 1px
	@media only screen and (max-width xs_max_width)
		margin-top 10px

button.btn.btn-select
	background whitesmoke
	margin 0

.bootstrap-datetimepicker-widget
	table
		td.active
			background-color link_blue
			&:hover
				background-color link_blue_hover	

.no-highlight
	-ms-user-select none
	-moz-user-select none
	-webkit-user-select none


input[type='checkbox']:focus
	outline 0	

textarea:focus,
input[type="text"]:focus,
	border-color rc_lite_gray
	outline 0
	box-shadow inset 0 1px 1px rc_lite_gray, 0 0 8px rc_lite_gray




.arrow-left
	height 0
	width 0
	border-bottom 10px solid transparent		
	border-top 10px solid transparent
	border-right 10px solid whitesmoke
	
.arrow-right
	height 0
	width 0
	border-bottom 10px solid transparent		
	border-top 10px solid transparent
	border-left 10px solid whitesmoke
	&.--white
		border-left 10px solid white













//SITE-WIDE ANIMATIONS

		
.modal-blur
	filter blur(3px)
.modal-unblur
	filter blur(0px)
	transition filter 0.2s ease-out
	

.fade-fast-enter
	visibility hidden
	animation fade-enter 0.1s ease-in 
	animation-delay 0.1s
.fade-fast-leave
	animation fade-leave 0.1s ease-out
	
.fade-md-enter
	visibility hidden
	animation fade-enter 0.15s ease-in
	animation-delay 0.15s
.fade-md-leave
	animation fade-leave 0.15s ease-out
	
.fade-slow-enter
	visibility hidden
	animation fade-enter 0.2s ease-in
	animation-delay 0.2s
.fade-slow-leave
	animation fade-leave 0.2s ease-out
	
//quadratic fade in
@keyframes fade-enter
	0%
		opacity 0
		visibility visible
	100%
		opacity 1
		
//quadratic fade out
@keyframes fade-leave
	0%
		opacity 1
	100%
		opacity 0

.slide-sm-enter
	@media only screen and (max-width xs_max_width)
		animation slide-sm-phone-enter 0.3s ease-in
	animation slide-sm-enter 0.3s ease-in
.slide-sm-leave
	@media only screen and (max-width xs_max_width)
		animation slide-sm-phone-leave 0.3s ease-in
	animation slide-sm-leave 0.3s ease-out

.slide-md-enter
	@media only screen and (max-width xs_max_width)
		animation slide-md-phone-enter 0.3s ease-in
	animation slide-md-enter 0.3s ease-in
.slide-md-leave
	@media only screen and (max-width xs_max_width)
		animation slide-md-phone-leave 0.3s ease-in
	animation slide-md-leave 0.3s ease-out

.slide-lg-enter
	@media only screen and (max-width xs_max_width)
		animation slide-lg-phone-enter 0.3s ease-in
	animation slide-lg-enter 0.3s ease-in
.slide-lg-leave
	@media only screen and (max-width xs_max_width)
		animation slide-lg-phone-leave 0.3s ease-in
	animation slide-lg-leave 0.3s ease-out
	

@keyframes slide-sm-enter
	0%
		opacity 0.2
		overflow hidden
		max-height 0
		margin 0
	100%
		opacity 1
		max-height 100px
		

@keyframes slide-sm-leave
	0%
		opacity 1
		max-height 100px
	100%
		opacity 0
		margin 0
		max-height 0
		overflow hidden

@keyframes slide-sm-phone-enter
	0%
		opacity 0.2
		overflow hidden
		max-height 0
		margin 0
	100%
		opacity 1
		max-height 175px
		

@keyframes slide-sm-phone-leave
	0%
		opacity 1
		max-height 175px
	100%
		opacity 0
		max-height 0
		margin 0
		overflow hidden		

@keyframes slide-md-enter
	0%
		opacity 0.2
		overflow hidden
		margin 0
		max-height 0
	100%
		opacity 1
		max-height 150px
		

@keyframes slide-md-leave
	0%
		opacity 1
		max-height 150px
	100%
		opacity 0
		margin 0
		max-height 0
		overflow hidden

@keyframes slide-md-phone-enter
	0%
		opacity 0.2
		overflow hidden
		margin 0
		max-height 0
	100%
		opacity 1
		max-height 300px
		

@keyframes slide-md-phone-leave
	0%
		opacity 1
		max-height 300px
	100%
		opacity 0
		max-height 0
		margin 0
		overflow hidden		

@keyframes slide-lg-enter
	0%
		opacity 0.2
		overflow hidden
		max-height 0
		margin 0
	100%
		opacity 1
		max-height 700px
		

@keyframes slide-lg-leave
	0%
		opacity 1
		max-height 700px
	100%
		opacity 0
		max-height 0
		margin 0
		overflow hidden		

@keyframes slide-lg-phone-enter
	0%
		opacity 0.2
		overflow hidden
		margin 0
		max-height 0
	100%
		opacity 1
		max-height 600px
		

@keyframes slide-lg-phone-leave
	0%
		opacity 1
		max-height 600px
	100%
		opacity 0
		max-height 0
		margin 0
		overflow hidden			
		


.gray-out-transition
	transition color 0.3s ease

.gray-out-enter
.gray-out-leave	
	color rc_lite_gray



//for spinning the search icon
.rotated-right
	transform rotate(90deg)

.glyphicon.right-spinner
	animation glyphicon-spin-r 0.075s linear

@keyframes glyphicon-spin-r
	0%
  	transform rotate(0deg)
  100%
		transform rotate(90deg)

.glyphicon.left-spinner
	animation glyphicon-spin-l 0.075s linear

@keyframes glyphicon-spin-l
	0%
  	transform rotate(90deg)
  100%
		transform rotate(0deg)


.upside-down
	transform rotate(180deg)

.caret.right-spinner
	animation caret-spin-r 0.15s  linear

@keyframes caret-spin-r
	0%
		transform rotate(0deg)
	100%
		transform rotate(180deg)

.caret.left-spinner
	animation: caret-spin-l .15s  linear

@keyframes caret-spin-l
	0%
		transform rotate(180deg)
	100%
		transform rotate(0deg)		
		
		


		
