///////////////////////////////////////////
//  GLOBAL CSS
///////////////////////////////////////////

//define some common variables
@import './variables.styl'


//mixins
has(name)
	&__{name}
		{block}
variant(name)
	&--{name}
		{block}



[v-cloak] 
	display none	
	

body
html
	height 100%
	font-family 'Fira Sans', sans-serif
	font-weight 400
	letter-spacing 0.35px
	
p
	font-size inherit
	margin-bottom 0
	font-weight inherit
	
.material-icons:hover
	cursor default
	
.bootstrap-switch
	span.bootstrap-switch-handle-on.bootstrap-switch-primary
		background link_blue
	span.bootstrap-switch-handle-off.bootstrap-switch-default
		background rc_background	
		
.switch-container
	margin-bottom 25px
	vertical-align middle
.switch-label
	margin 0px 30px 0px 10px	
	font-weight bold		

hr
	border-color darken(whitesmoke, 15%)

body
	background rc_background
		



a	
	&:visited		
	&:link
		text-decoration none
		color link_blue
	&:hover
	.material-icons:hover
		text-decoration none
		cursor pointer
		color link_blue_hover
		

.parallax-window
	min-height 400px
	background transparent

	

.nav-tabs
	margin-top 35px
	li 
		position relative
		&.active
			a
				background-color whitesmoke
				border-radius 12px 12px 0 0 
				&:hover
					background-color whitesmoke
		a
			margin-left 8px		
			padding 20px 40px
			@media screen and (max-width xs_max_width)
				padding 20px 30px
				
span.input-info
	font-size 13px
	color rc_med_gray				
				

.Tab
	position relative	
	padding 0px 10px 10px 10px
	font-size 15px
	margin 15px
	@media screen and (max-width xs_max_width)
		margin 15px
	.material-icons
		bottom 30px	
		
	+has(list)
		display flex
		list-style none
		padding 0
	
	+variant(active)
		color lighten(black, 40%)
		border-bottom 4px solid lighten(gray, 65%)
		&:hover
			color lighten(black, 40%)
			cursor default

	+variant(inactive)
		color link_blue
		&:hover
			color link_blue_hover
			cursor pointer
			
.Tab__container
	display flex
	justify-content center
	font-weight 200
	margin-top 50px
	margin-bottom 2px
		

.Media
	display flex
	margin-bottom 40px
	
	+has(thumbnail)
		border-radius 50%
		&:hover
			cursor pointer
		&:hover.--ghost
			cursor default	
		
	+has(text)
		display flex
		flex-flow column	
		justify-content flex-start
		
	+has(title)
		margin-left 10px
		font-size 16px
		display flex
		flex-flow row
		p
			margin-bottom 0

	+has(number)
		color rc_red

	+has(divider)
		color darken(whitesmoke, 30%)
		margin 0px 6px

	+has(details)
		display flex
		text-align left
		position relative
		.material-icons
			margin 13px 0px 0px 8px	
			font-size 20px
		.positions
			margin 12px 0px 0px 8px		
			font-size 16px
			color rc_med_gray
					
	+has(edit)
		display flex
		flex-flow row
		margin-bottom 55px
		div
			flex 1
		.btn
			margin 22px 0px 0px 15px
			max-height 52px
			
.TabButton
	display flex
	flex-flow row
	font-size 20px
	color white
	margin-bottom 45px
	margin-top 25px
	div
		background rc_blue
		padding 4px 18px
		&:hover
			cursor pointer
		&.active
			background rc_red
			border 0
			&:hover
				cursor default
	.first
		border-top-left-radius 3px				
		border-bottom-left-radius 3px
	.second
		border-left 1px solid darken(rc_blue, 20%)
		^[0] .first.active + .second // when first is active, don't show left border on second
			border-left 1px solid rc_blue
	.third
		border-top-right-radius 3px				
		border-bottom-right-radius 3px
		border-left 1px solid darken(rc_blue, 20%)
		^[0] .second.active + .third // when second is active, don't show left border on third
			border-left 1px solid rc_blue
	&.--just-two
		.second
			border-top-right-radius 3px				
			border-bottom-right-radius 3px
	&.--black-gray
		div
			background rc_lite_gray
			&.active
				background black
		.second
			border-left 1px solid darken(rc_lite_gray, 20%)
			^[1] .first.active + .second // when first is active, don't show left border on second
				border-left 1px solid rc_lite_gray
		.third
			border-left 1px solid darken(rc_lite_gray, 20%)
			^[1] .second.active + .third // when second is active, don't show left border on third
				border-left 1px solid rc_lite_gray
	&.--small
		font-size 17px
		div
			padding 2px 12px
		
					
		
.for-blurring	
	margin-top 53px

.modal-backdrop
	background none

.modal-content
	border none
	border-radius 0
	top 35px
	+mobile()
		max-width 90%
		margin auto
.modal-dialog
	margin 50px auto
	
.modal-top
	display flex
	position relative
	flex-flow row nowrap
	justify-content space-between
	align-items center
	height 53px
	margin-bottom 0.5em
	padding 15px
	color white
	background rc_modal_black
	>div
		display flex
		flex-flow row nowrap
		align-items center
	.left
		justify-content flex-start
		>*
			margin-right 15px
			min-width 0
	.right
		justify-content flex-end
		>*
			margin-left 15px
	.link
		color white
		font-size 17px
		&:hover
			text-decoration underline
			cursor pointer
		+mobile()
			display none
	.close
		color white
		font-size 38px
		text-shadow none
		opacity 1
		margin-left 25px
		font-weight 400
	.title
		font-size 26px
		text-overflow ellipsis
		white-space nowrap
		font-weight 400
		overflow hidden
		h3
			text-overflow ellipsis
			white-space nowrap
			font-weight 400
			overflow hidden
			margin 0
	.navbar-toggle
		margin-right 0
		margin-top 5px
		.icon-bar
			background white
			transition all 0.3s
		&.showing
			border 1px solid white
			transition all 0.3s
		&.not-showing:hover
			cursor pointer
			.icon-bar
				box-shadow 0 0px 11px 1px white
				transition all 0.3s
			
.modal-dropdown
	position absolute
	display flex
	justify-content center
	align-items center
	flex-flow row nowrap
	top 53px
	left -15px
	width 100%
	z-index 9999
	transition all 250ms ease-out
	max-height 90px
	padding 25px 15px
	font-size 22px
	background rc_modal_black
	opacity 1
	+mobile()
		font-size 19px
	&.--not-showing
		max-height 0
		padding 0
		opacity 0
		transition all 250ms ease-out
	span
		flex 1
		text-align center
	.dropdown-link
		+mobile()
			text-decoration underline
		&:hover
			cursor pointer
	
.modal-body
	padding 15px

div.modal
	-animation-duration 0.15s		
	

.pace
	pointer-events none
	user-select none
	
.pace-inactive
	.pace-progress
		animation pace 100ms ease-in
		height 0
		box-shadow none
	
.pace-progress
	background link_blue_hover
	position fixed
	z-index 2000
	top 52px
	right 100%
	width 100%
	transition width 25ms ease
	height 3px
	box-shadow 0 0px 11px 1px link_blue_hover

.modal-open
	.pace-progress
		filter blur(3px)
	
@keyframes pace
	0%
		height 3px
	100%
		height 0px
		box-shadow none

//for getting a separator like
//   ------   NEWS FEED   --------
.divider
	.divider-text
		text-align center
		position absolute
		top 50%
		left 50%
		width 100%
		max-width 775px
		transform translate(-50%, -50%)
		&:before
			content ""
			position absolute
			width 100%
			height 1px
			top 50%
			left 0
			z-index -1
			background rc_lite_gray
		span
			font-size 17px
			color rc_med_gray
			background rc_background
			padding 0px 3em 
		span.--twotone
			background rc_two_tone	
			
.Footer
	display flex
	flex-flow row
	justify-content center
	align-items center
	padding-top 4em
	background rc_two_tone
	&.--light
		background rc_background
	p
		flex 1
		text-align center	
		font-size 11px
	

.input-group-addon
	background whitesmoke
	border none
	border-left 3px solid white !important
	span
		color link_blue	

// for auto-expanding textareas
textarea
	box-sizing border-box
	min-height 31px
	resize none	
		

.btn
	padding 14px 24px
	border 0
	letter-spacing 1px
	font-size 15px
	margin-top 8px
	margin-left 15px
	&.btn-first
		margin-left 0
	&:hover, &:active, &:active:focus, &:focus
		background-image none
	&.--chevron
		position relative
		&.--sm.--right
			min-width 100px
			padding-left 6px			
		&.--med.--right
			min-width 125px
			padding-left 10px
		&.--lg.--right
			min-width 175px
			padding-left 10px
		&.--sm.--left
			min-width 100px
			padding-right 6px			
		&.--med.--left
			min-width 125px
			padding-right 10px
		&.--lg.--left
			min-width 175px
			padding-right 10px	

.btn-chevron
	position absolute
	top 6px
	font-size 30px	
	&.--right	
		right 0px
	&.--left
		left 4px
	&.material-icons:hover
		color inherit		
			

.outline.btn-success
	background none
	padding 12px 22px
	border 2px solid rc_bright_green
	color rc_bright_green
	box-shadow none
	&:hover, &:active, &:active:focus, &:focus
		background none
		border 2px solid rc_bright_green_hover
		color rc_bright_green_hover

.outline.btn-primary
	background none
	padding 12px 22px
	border 2px solid link_blue
	color link_blue
	box-shadow none
	&:hover, &:active, &:active:focus, &:focus
		background none
		border 2px solid link_blue_hover
		color link_blue_hover

.outline.btn-delete
	background none
	padding 12px 22px
	border 2px solid rc_red
	color rc_red
	box-shadow none
	&:hover, &:active, &:active:focus, &:focus
		background none
		border 2px solid rc_red_hover
		color rc_red_hover		

.outline.btn-cancel
	background none
	padding 12px 22px
	border 2px solid rc_med_gray
	color rc_med_gray
	box-shadow none
	&:hover, &:active, &:active:focus, &:focus
		background none
		border 2px solid rc_dark_gray
		color rc_dark_gray			

.btn-cancel
	background rc_med_gray
	padding 12px 22px
	color white
	box-shadow 0 1px 6px rc_med_gray
	&:hover, &:active, &:active:focus, &:focus 
		color white
		background rc_dark_gray

.btn-delete
	background rc_red
	padding 12px 22px
	color white
	box-shadow 0 1px 6px rc_red
	&:hover, &:active, &:active:focus, &:focus 
		color white
		background rc_red_hover
	&.click-me
		animation click-me-delete 600ms linear 0s infinite alternate

.btn-primary
	background link_blue
	padding 12px 22px
	text-shadow none
	box-shadow 0 1px 6px link_blue
	&:hover, &:active, &:active:focus, &:focus
		color white
		background link_blue_hover
	&.click-me
		animation click-me-primary 600ms linear 0s infinite alternate

.btn-success
	background rc_bright_green
	text-shadow none
	padding 12px 22px
	box-shadow 0 1px 6px rc_bright_green
	&:hover, &:active, &:active:focus, &:focus
		color white
		background rc_bright_green_hover
	&.click-me
		animation click-me-success 600ms linear 0s infinite alternate
					

.btn-default //for selectpickers
	background-image none
	background-color whitesmoke
	margin-top 0
	
.btn-counter
	display flex
	flex-flow row
	margin-top 0px
	border-radius 4px
	.btn-text
		border 1px solid #dcdcdc
		position relative
		background-color #dcdcdc
		color black
		user-select none
		border-bottom-left-radius 3px
		border-top-left-radius 3px
		align-self flex-start	
		padding 5px 10px
		&:hover
			cursor pointer
		&.--not-a-button:hover
			cursor default
		&.--icon
			.material-icons
				font-size 15px
				position absolute
				top 7px
			span
				padding-left 20px
		&.--green
			color white
			border-color rc_bright_green
			background-color rc_bright_green
		&.--blue
			color white
			border-color link_blue
			background-color link_blue
		&.--red
			color white
			border-color rc_red
			background-color rc_red
	.btn-count
		flex 1
		padding 4px 8px
		font-size 16px
		background-color white
		align-self flex-end
		border 1px solid white
		border-top-right-radius 3px
		border-bottom-right-radius 3px
		
.save-button-wrapper
	display flex
	&.--center
		justify-content center
	&.--left
		justify-content flex-start
	&.--right
		justify-content flex-end
	&.--with-divider
		border-top 3px solid rc_super_lite_gray
		padding-top 15px
		
.save-button-group
	display flex 
	margin 15px 0
	width 340px
	flex-flow row nowrap
	justify-content space-around
	align-items center
	@media screen and (max-width 767px)
		flex-flow row wrap
		div
			margin-top 10px
	// how many buttons? effects the width
	&.--one 
		width 160px
	&.--two 
		width 340px
	&.--three
		width 500px
	&.--four
		width 660px
	a.btn
		margin 0
		width 150px
	





.form-control
	position relative
	font-size 18px
	height 52px
	padding 15px
	background whitesmoke
	border none
	box-shadow none
	&.form-error
		border 1px solid red
	&.form-correct
		border 1px solid rc_bright_green
	&.--white
		background white
	
span.form-error
	color rc_red	

//bootstrap select styling
div.bootstrap-select.form-control
	margin-top 0
	font-size 18px
	.btn
		letter-spacing 0px
		padding-left 15px
	.dropdown-toggle:focus
		outline 0 !important
		-webkit-appearance none !important
	li
		a
			outline 0 !important
			-webkit-appearance none !important
			&:focus, &:active
				background-image none
	.dropdown-menu
		li
			a:focus
				background-color white
				background-image none

div.form-error
	.bootstrap-select		
		button
			border 1px solid red		
				


label
	margin-bottom 5px
	margin-left 1px
	@media only screen and (max-width xs_max_width)
		margin-top 10px

button.btn.btn-select
	background whitesmoke
	font-size 18px
	margin 0
	
.remaining
	font-size 13px
	color rc_med_gray
	float right	

.bootstrap-datetimepicker-widget
	table
		td.active
			background-color link_blue
			&:hover
				background-color link_blue_hover	

.no-highlight
	-ms-user-select none
	-moz-user-select none
	-webkit-user-select none


input[type='checkbox']:focus
	outline 0	

textarea:focus,
input[type="text"]:focus,
	border-color rc_lite_gray
	outline 0
	box-shadow inset 0 1px 1px rc_lite_gray, 0 0 8px rc_lite_gray




.arrow-left
	height 0
	width 0
	border-bottom 10px solid transparent		
	border-top 10px solid transparent
	border-right 10px solid whitesmoke
	
.arrow-right
	height 0
	width 0
	border-bottom 10px solid transparent		
	border-top 10px solid transparent
	border-left 10px solid whitesmoke
	&.--white
		border-left 10px solid white













//SITE-WIDE ANIMATIONS

		
.modal-blur
	filter blur(3px)
.modal-unblur
	filter blur(0px)
	transition filter 0.2s ease-out
	

.fade-fast-enter
	visibility hidden
	animation fade-enter 0.1s ease-in 
	animation-delay 0.1s
.fade-fast-leave
	animation fade-leave 0.1s ease-out
	
.fade-md-enter
	visibility hidden
	animation fade-enter 0.15s ease-in
	animation-delay 0.15s
.fade-md-leave
	animation fade-leave 0.15s ease-out
	
.fade-slow-enter
	visibility hidden
	animation fade-enter 0.2s ease-in
	animation-delay 0.2s
.fade-slow-leave
	animation fade-leave 0.2s ease-out
	
//quadratic fade in
@keyframes fade-enter
	0%
		opacity 0
		visibility visible
	100%
		opacity 1
		
//quadratic fade out
@keyframes fade-leave
	0%
		opacity 1
	100%
		opacity 0

.slide-sm-enter
	@media only screen and (max-width xs_max_width)
		animation slide-sm-phone-enter 0.35s ease-in
	animation slide-sm-enter 0.35s ease-in
.slide-sm-leave
	@media only screen and (max-width xs_max_width)
		animation slide-sm-phone-leave 0.35s ease-in
	animation slide-sm-leave 0.35s ease-out


.slide-md-enter
	@media only screen and (max-width xs_max_width)
		animation slide-md-phone-enter 0.3s ease-in
	animation slide-md-enter 0.3s ease-in
.slide-md-leave
	@media only screen and (max-width xs_max_width)
		animation slide-md-phone-leave 0.3s ease-in
	animation slide-md-leave 0.3s ease-out

.slide-lg-enter
	@media only screen and (max-width xs_max_width)
		animation slide-lg-phone-enter 0.3s ease-in
	animation slide-lg-enter 0.3s ease-in
.slide-lg-leave
	@media only screen and (max-width xs_max_width)
		animation slide-lg-phone-leave 0.3s ease-in
	animation slide-lg-leave 0.3s ease-out
	

@keyframes slide-sm-enter
	0%
		opacity 0
		max-height 0
		overflow hidden
		margin 0
	100%
		opacity 1
		max-height 200px
		

@keyframes slide-sm-leave
	0%
		opacity 1
		max-height 200px
	100%
		opacity 0
		max-height 0
		overflow hidden
		margin 0

@keyframes slide-sm-phone-enter
	0%
		opacity 0.2
		overflow hidden
		max-height 0
		margin 0
	100%
		opacity 1
		max-height 175px
		

@keyframes slide-sm-phone-leave
	0%
		opacity 1
		max-height 175px
	100%
		opacity 0
		max-height 0
		margin 0
		overflow hidden		

@keyframes slide-md-enter
	0%
		opacity 0.2
		overflow hidden
		margin 0
		max-height 0
	100%
		opacity 1
		max-height 150px
		

@keyframes slide-md-leave
	0%
		opacity 1
		max-height 150px
	100%
		opacity 0
		margin 0
		max-height 0
		overflow hidden

@keyframes slide-md-phone-enter
	0%
		opacity 0.2
		overflow hidden
		margin 0
		max-height 0
	100%
		opacity 1
		max-height 300px
		

@keyframes slide-md-phone-leave
	0%
		opacity 1
		max-height 300px
	100%
		opacity 0
		max-height 0
		margin 0
		overflow hidden		

@keyframes slide-lg-enter
	0%
		opacity 0.2
		overflow hidden
		max-height 0
		margin 0
	100%
		opacity 1
		max-height 700px
		

@keyframes slide-lg-leave
	0%
		opacity 1
		max-height 700px
	100%
		opacity 0
		max-height 0
		margin 0
		overflow hidden		

@keyframes slide-lg-phone-enter
	0%
		opacity 0.2
		overflow hidden
		margin 0
		max-height 0
	100%
		opacity 1
		max-height 600px
		

@keyframes slide-lg-phone-leave
	0%
		opacity 1
		max-height 600px
	100%
		opacity 0
		max-height 0
		margin 0
		overflow hidden			
		


.gray-out-transition
	transition color 0.3s ease

.gray-out-enter
.gray-out-leave	
	color rc_lite_gray



//for spinning the search icon
.rotated-right
	transform rotate(90deg)

.glyphicon.right-spinner
	animation glyphicon-spin-r 0.075s linear

@keyframes glyphicon-spin-r
	0%
  	transform rotate(0deg)
  100%
		transform rotate(90deg)

.glyphicon.left-spinner
	animation glyphicon-spin-l 0.075s linear

@keyframes glyphicon-spin-l
	0%
  	transform rotate(90deg)
  100%
		transform rotate(0deg)


.upside-down
	transform rotate(180deg)

.caret.right-spinner
	animation caret-spin-r 0.15s  linear

@keyframes caret-spin-r
	0%
		transform rotate(0deg)
	100%
		transform rotate(180deg)

.caret.left-spinner
	animation: caret-spin-l .15s  linear

@keyframes caret-spin-l
	0%
		transform rotate(180deg)
	100%
		transform rotate(0deg)		
		
		
	
.loading-spinner
	width 75px
	span
		width 13px
		height 13px
		vertical-align middle
		border-radius 50%
		display inline-block
		animation loading-spinner 400ms infinite ease-in-out alternate
		&.first
			animation-delay 50ms
		&.second 
			animation-delay 150ms
		&.third
			animation-delay 250ms
		&.fourth
			animation-delay 350ms
		
@keyframes loading-spinner
	0%
		transform scale(0.3)
	100%
		transform scale(1)
		


.text-typing
	&.--white
		animation text-typing-white 400ms ease 0s infinite alternate
	&.--black
		animation text-typing-black 400ms ease 0s infinite alternate
	&.--gray
		animation text-typing-gray 400ms ease 0s infinite alternate
		
@keyframes text-typing-white
	0%
		border-right 2px solid rgba(255, 255, 255, 0)
	100%
		border-right 2px solid white
		
@keyframes text-typing-black
	0%
		border-right 2px solid rgba(0, 0, 0, 0)
	100%
		border-right 2px solid black
		
@keyframes text-typing-gray
	0%
		border-right 2px solid rgba(0, 0, 0, 0)
	100%
		border-right 2px solid rc_med_gray
		


		

@keyframes click-me-primary
	0%
		background link_blue
	100%
		background lighten(link_blue_hover, 10%)
		
@keyframes click-me-delete
	0%
		background rc_red
	100%
		background lighten(rc_red_hover, 10%)
		
@keyframes click-me-success
	0%
		background rc_bright_green
	100%
		background lighten(rc_bright_green_hover, 10%)
		
