
// just a bunch of stylus variables used all over the site


// MIXINS
mobile()
  @media only screen and (max-width: 767px)
    {block}

tablet()
  @media only screen and (max-width: 991px)
    {block}


// COLORS

// reds
rc_red = #C90018
rc_dark_red = #B00015
rc_red_hover = #FC001E
rc_alert_danger = #EDAEB4

// oranges
rc_orange = #FF6D05

// yellows
rc_yellow = #F2D500
rc_win = rgb(243, 183, 0)

// greens
rc_bright_green_hover = #1DDA17
rc_bright_green = #21C230
rc_alert_success = #ADE5A1
rc_green = #76AF00

// blues
link_blue_hover = #38A9F9
rc_alert_info = #C2E1F1
link_blue = #1179C9
rc_blue = #329ACF

// purples
rc_loss = rgba(38, 51, 255, 0.72)

// grays
rc_dark_gray = darken(whitesmoke, 50%)
rc_med_gray = darken(whitesmoke, 35%)
rc_lite_gray = darken(whitesmoke, 15%)
rc_super_lite_gray = darken(whitesmoke, 5%)
rc_two_tone = whitesmoke

// b & w
rc_background = whitesmoke
rc_modal_black = #404040

