/**
 * Just a bunch of stylus variables used all over the site
 */ 


// MIXINS
mobile()
	@media only screen and (max-width: 767px)
		{block}

tablet()
	@media only screen and (max-width: 991px)
		{block}
		
desktop()
	@media only screen and (min-width: 992px)
		{block}
    
media(width = 767px)
	@media only screen and (max-width: width)
		{block}
		
the-first-one()
	&:first-child
		{block}
		
the-last-one()
	&:last-child
		{block}
	


// COLORS

// reds
rc_red = #C90018
rc_red_hover = #FC001E
rc_dark_red = #B00015
rc_alert_danger = #EDAEB4

// oranges
rc_orange = #FF6D05

// yellows
rc_yellow = #F2D500
rc_win = #F3B700

// greens
rc_green = #76AF00
rc_bright_green = #21C230
rc_bright_green_hover = #1DDA17
rc_alert_success = #ADE5A1

// blues
rc_blue = #329ACF
link_blue = #1179C9
link_blue_hover = #38A9F9
rc_alert_info = #C2E1F1

// purples
rc_loss = #6770FF

// grays
rc_dark_gray = darken(whitesmoke, 50%)
rc_med_gray = darken(whitesmoke, 35%)
rc_lite_gray = darken(whitesmoke, 15%)
rc_super_lite_gray = darken(whitesmoke, 5%)

// b & w
rc_background = whitesmoke
rc_modal_black = #404040

