//define some common variables
rc_red = #C90018
rc_dark_red = #B00015
rc_blue = #329ACF
rc_yellow = #F2D500
rc_green = #76AF00
rc_orange = #F96A04
link_blue_hover = #38A9F9
link_blue = #1179C9
rc_win = rgb(243, 183, 0)
rc_loss = rgba(38, 51, 255, 0.72)
rc_lite_gray = rgba(128, 128, 128, 0.44)
rc_med_gray = darken(whitesmoke, 35%)
rc_dark_gray = darken(whitesmoke, 50%)
rc_two_tone = darken(white, 8%)
rc_background = whitesmoke


xs_max_width = 767px
sm_max_width = 991px